.pf-container{
	.pf-top{
		text-align: center;
		.pf-main{
			font-size: 30px;
			margin-top: 50px;
		}
	}
	.pf-language-skills{
		text-align: center;

		.pf-language-skills-item{
			text-decoration: none;
		}
	}

}